<h2><%= @house.name %></h2>
<p>
There are <%= @house.students.count %> students and <%=@house.teachers.count%> teachers in <%= @house.name %> house
</p>

<p>
The students and teachers of <%= @house.name %> have collected <%= @house.points %> points
</p>

<h3>
<% if @house.students.empty? %>
  <p>
  There is no one in the house
  </p>
<% else %>
  <h3> List of Students: </h3>
   <ul>
    <% @house.students.each do |student|%>
    <li> <%= link_to student.name , student_path(student) %></li>
    <% end %>
   </ul>
<% end %>
 
<h3>List of Teachers</h3>
   <% if @house.teachers.empty? %>
     
    <p> There are no teachers in this house</p>
  
   <% else %>
   
  <% @house.teachers.each do |teacher|%>
    <li>
      <%= link_to teacher.name, teacher_path(teacher) %>
      
    </li>
    <%end%>
</ul>
<%end%>


