<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts School WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <div class = "container">
      <header>
        <h1>Hogwarts School of Witches and Wizards</h1>
      </header>
      <h3>
      <%= link_to 'Home', root_path %> | 
      <%= link_to 'Students' , students_path %> | 
      <%= link_to 'Teachers', teachers_path %>
      </h3>
      <%= yield %>
    </div>
  </body>
</html>
