<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts School WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div class = "container">
    <body>
      <header>
        <h1>Hogwarts School of Witches and Wizards</h1>
      </header>
      <%= yield %>
    </body>
  </div>
</html>
